{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
    <h1 class="title">Hi, I'm {{ AUTHOR }}</h1>
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            {% if article.is_home %}
                <div class="entry-content blog-post">
                    {{ article.content }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}
